ise/test/simple_pri_NEXYS/*
ise/test/simple_pri_RHINO/*
ise/test/pri_1KHz_NEXYS/*
ise/test/pri_1KHz_RHINO/*
ise/test/pri_adjustable_NEXYS/*
ise/test/pri_adjustable_RHINO/*
ise/tcu_v2-1/*


!ise/test/**/*.xise
!ise/test/**.xco
!ise/**/*.xise
!ise/**.xco
